<div *ngIf="repos$ | async as repos" class="repoContainer">
  <p>
    <strong>{{ repos[0].owner.login }}'s</strong> repos
  </p>
  <div *ngFor="let repo of repos; index as i" class="eachRepo">
    <div class="repoBlock">
      <strong> {{ i + 1 }}) </strong>
      <div class="repoBlockInfo">
        <strong>{{ repo.name }}</strong>
        <span class="dateOfBirth">
          Date Of Birth:
          {{ repo.created_at | date: "medium" }}
        </span>
      </div>
    </div>
    <a [href]="repo.html_url" target="_blank"> Open </a>
  </div>
</div>
